

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #D9D9D9;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.p-0{
   
    max-width: 90rem;
    width: 100%;
    
}
.image{
    background-image: url("./pictures/3Q6A6139\ 1.png");
    height: 33rem;
    /* max-width: 80rem; */
   /* background-repeat: no-repeat; */
 
    position: relative;
    background-position: 50%;
    width: 100%;

}
.mainphoto{
    margin-top: -5rem;
    width: 80rem;
    height: 30rem;
}
header{
    background-color: black;
    backdrop-filter: blur(10px);
    height: 5rem;
    display: flex;
    align-items: center;
       opacity: 60%;   
      box-shadow: 0px 4px 4px 0px;
}
.p-1{
    
    display: flex;
    justify-content: center;
    margin-left: 16rem;
    display: flex;
    gap: 1.3rem;
    

}
.first{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: lighter;
}
h4{
    padding-left: 5rem;
    font-family: serif;
    font-weight: inherit;

}
.p-2{
    display: flex;
     gap: 1.3rem;
     margin-left: 3.5rem;
} 
.btn-0{
    border: solid 1px  #FFFFFF;
    color: #FFFFFF;
    border-radius: 40px;
    width: 9.4rem;
    height: 2.7rem;
   
    font-family: inherit;
    font-weight: 600;
    margin-top: 1.9rem;
    padding: 7px 23px 7px 23px;
    background: none;
    
}
.Welcome{
    margin-top: 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: Georgia, serif;
    font-weight: 800;
}

 .layout{
    margin: 5rem 9.5rem 5.1rem 9rem;
 }
 .text-1{
    display: block;
    flex-direction: column;
    width: 22rem;
    height: 13rem;
 } 
.image-1{
    object-fit: cover;
   height: 21rem;
   width: 39rem;
   border-radius: 10px;
}
.btn-1{
     background-color: white;
     border-radius: 40px;
     width: 9rem;
     height: 2.4rem;
     border:  solid 1px black;
     padding: 6px 23px 6px 23px;
}
.cards-parent{
    display: flex;
    width: 100%;
    height: 18.4rem;
    margin-top: 3rem;

}
.card{
    width: 20rem;
    height: 14rem;
    border: solid 1px #c48564;
    border-radius: 10px;
    box-shadow: 0 4 4 0;
}
.color-div{
    padding: 2rem 2.9rem 2rem 1.3rem;
    height: 15rem;
   width: 19rem;
}
.text-2{
     padding: 0.8rem 0.7rem 0rem 0.7rem;
    text-align: left;
}
 
.card-p{
    border-radius: 5px;
    margin: 1.5rem 2.2rem 1rem 0rem;
    background-color: rgb(248, 244, 244) ;
    width: 17.5rem;
    height: 11.2rem;
   
}
.btn-2{
    background-color: white;
    border-radius: 40px;
    width: 7rem;
    height: 2rem;
    border:  solid 1px black;
    padding: 2px 10px 2px 10px;
    margin-left: 1.1rem;
    
}
.btn-3{
    background-color: white;
    border-radius: 40px;
    width: 7rem;
    height: 2rem;
    font-weight: 700;
    border:  solid 2px black;
    padding: 2px 10px 2px 10px;
    margin-left: 1.1rem;

}
footer{
    background-image: url("./pictures/3Q6A5001\ 1.png");
    height: 15rem; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: block;
   
    
}
.cmb{
    display: block;
    margin: 0 auto;
    border: solid 1px  #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    font-family: inherit;
    font-weight: 600;
    margin-top: 1.9rem;
    padding: 3px 2px 3px 20px;
    background: none;
    
    
   
}
.select-div{
   padding-top: 1.5rem;
    text-align: center;
    width: auto;
    height: 50px;

}
.icons-parent{
    height: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1.5rem;

    p{
        margin-left: 1.4rem;
        color: white;

    }
    h4{
        margin-left: -3.5rem;
        color: white;
        font-family: serif; 
        font-weight: inherit;
    }

  
}
.icons{

    margin-top: 0.5rem;
    
}

.icons-1{
    height: 3.3rem;
    width: 3.3rem;
}
option{
    background-color: black;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.p-4{
    width:6;
}
.pr{
    margin-top: 2.7rem;
}
.icons-2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}










